/*
Theme Name: Hearth Wood Floors
Description: Hearth Wood Floors Jupiter Child Theme
Author: Horton Group
Author URI: http://hortongroup.com
Template:       jupiter
Text Domain: mk_framework
Domain Path: /languages/
*/


.grecaptcha-badge {
    display: none;
}

.small,
p.small {
    font-size: 14px !important;
    line-height: 1.6em;
    font-style: italic;
}
div.white .sa_owl_theme .owl-item .sa_hover_container:hover .sa_hover_buttons .sa_slide_link_icon:hover,
div.white .sa_owl_theme .owl-item .sa_hover_container:hover .sa_hover_buttons .sa_slide_link_icon{
/* 	background-color: rgba(0,0,0,0.3) !important; */
	background: rgba(0,0,0,0) !important;
	height: 430px !important;
    width: 100vw !important;
}
div.white .sa_owl_theme .owl-item .sa_hover_container:hover .sa_hover_buttons .sa_slide_link_icon{
	background: rgba(0,0,0,0) !important;
}
div#sample_slider.sa_owl_theme .owl-item .sa_hover_container .sa_hover_buttons{
	top: 0 !important;
    left: 0 !important;
    margin-top: 0 !important; 
    margin-left: 0 !important;
}

.svg-inline--fa.fa-w-16 {
    width: 1em !important;
}
.mk-fullwidth-slideshow.stretch-images-true .mk-flex-slides li img{
	min-height: 500px;
}

/* Design Resource Center */

#theme-page .hw-design-resource-banner h1 {
    color: #fff;
    text-transform: none;
    font-size: 54px;
    padding-top: 40px;
    font-weight: 400;
}

@media screen and (max-width: 720px) {
    #theme-page .hw-design-resource-banner h1 {
        font-size: 34px;
        padding-top: 0px;
    }
}

.hw-design-resource-banner p {
    color: #fff;
    font-weight: 500;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.hw-design-resource-center .mk-blog-spotlight-item .mk-button-container,
.hw-design-resource-center .mk-blog-spotlight-item .mk-blog-meta-wrapper {
    display: none;
}

.hw-design-resource-center .mk-blog-spotlight-item .item-wrapper h3 {
    letter-spacing: 1px;
    font-size: 16px !important;
    line-height: 26px;
    font-weight: 600 !important;
    text-transform: none;
}

.hw-design-resource-center .mk-blog-spotlight-item .item-wrapper h3 a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}

.hw-design-resource-center .mk-blog-spotlight-item:nth-of-type(odd) .item-wrapper h3 a {
    color: #fff !important
}

.hw-design-resource-center .mk-blog-spotlight-item:nth-of-type(even) .item-wrapper h3 a {
    color: #333 !important
}

.hw-design-resource-center .mk-blog-spotlight-item:nth-of-type(odd) .image-hover-overlay {
    background-color: #446C1A !important
}

.hw-design-resource-center .mk-blog-spotlight-item:nth-of-type(even) .image-hover-overlay {
    background-color: #fff !important
}

.hw-design-resource-center .mk-blog-spotlight-item .image-hover-overlay {
    opacity: .65;
}

.hw-design-resource-center .mk-blog-spotlight-item .featured-image:hover .image-hover-overlay {
    opacity: .85;
}


/* .mk-gallery .hover-fadebox .item-holder:hover .image-hover-overlay {
    opacity: .85;
} */

.hw-design-resource-center .mk-gallery .gallery-title {
    position: absolute;
    top: 38% !important;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    transition: all .4s ease-out;
    opacity: 1;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.hw-design-resource-center .mk-gallery .hover-fadebox.hover-title-true .mk-image-lightbox svg {
    top: 0;
    display: none;
}

.hw-design-resource-center .mk-gallery-item:nth-of-type(odd) .gallery-title {
    color: #fff !important
}

.hw-design-resource-center .mk-gallery-item:nth-of-type(even) .gallery-title {
    color: #333 !important
}

.hw-design-resource-center .mk-gallery-item:nth-of-type(odd) .image-hover-overlay {
    background-color: #446C1A !important
}

.hw-design-resource-center .mk-gallery-item:nth-of-type(even) .image-hover-overlay {
    background-color: #fff !important
}

.hw-design-resource-center .image-hover-overlay {
    opacity: .65;
}


/* WooCommerce Overrides */

.woocommerce .button.single_add_to_cart_button {
    border-radius: 0px !important;
}

.woocommerce .quantity .minus,
.woocommerce .quantity .plus {
    border-radius: 0px !important;
}

.woocommerce-variation-add-to-cart .quantity.buttons_added {
    display: none !important;
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    border-radius: 0px !important;
}

input,
textarea,
select,
button {
    border-radius: 0px !important;
}

span.sku_wrapper {
    display: none;
}

.woocommerce td.product-name dl.variation dt {
    line-height: 1.5em;
}


/* Preventing 3rd and 4th product images from zooming */

.woocommerce-product-gallery__wrapper div:nth-of-type(3),
.woocommerce-product-gallery__wrapper div:nth-of-type(4) {
    pointer-events: none;
}


/* Making all "Add to Cart" icons change */

.woocommerce .button.single_add_to_cart_button {
    background-image: url("");
}

.woocommerce .button.single_add_to_cart_button:before {
    font-family: 'FontAwesome';
    content: "\f067";
    padding-right: 10px;
}

.mk-woocommerce-carousel .mk-button-container i>svg {
    display: none;
}

.mk-woocommerce-carousel .mk-button-container i:after {
    font-family: 'FontAwesome';
    content: "\f067";
    font-style: normal;
}

.mk-product-loop .product-item-footer a>svg {
    display: none;
}

.mk-product-loop .product-item-footer a:before {
    font-family: 'FontAwesome';
    content: "\f067";
    padding-right: 10px;
}


/*.fa-plus:before {
    content: "\f067";
}*/


/* Hiding Screen Reader Text (the correct way) */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.woocommerce-message {
    border-color: #ddd;
    background-color: #f7f7f7;
}

.woocommerce table.shop_table .product-quantity>.quantity {
    margin: 0px !important;
}

.button.checkout-button,
.woocommerce #payment #place_order {
    background-color: #638d3d !important
}

.timeline.flatButton .item .read_more,
.timeline.flatWideButton .item .read_more,
#content .timeline.flatButton .item .read_more,
#content .timeline.flatWideButton .item .read_more,
.timeline.flatLine a.t_line_node,
#content .timeline.flatLine a.t_line_node {
    font-family: "Open Sans" !important;
}

.master-holder strong {
    color: #404040 !important;
}


/*#tl1 .item .read_more {
    font-size: 14px !important;
    background-color: #fff !important;
    display: inline-block !important;
    border-radius: 0px;
    padding: 4px 20px !important;
}*/

body #tl1 .item .read_more {
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.39);
    font-weight: 600 !important;
    font-size: 16px !important;
}


/*================= Begin #HomewithHearthwood Promo =================*/

@media screen and (min-width: 768px) {
    .homePageVideo {
        height: calc(100vh - 100px);
    }
}

.sub-footer-social.home-promo-social a {
    display: inline-block;
    padding: 5px 0;
}

#theme-page .contest-cta-wrap-1 {
    background: url('https://www.hearthwoodfloors.com/wp-content/uploads/2018/08/hearthwood-floors-cta-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#theme-page .contest-cta-wrap-2 {
    background: url('https://www.hearthwoodfloors.com/wp-content/uploads/2018/08/hearthwood-floors-cta-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#theme-page .contest-cta-wrap-1 .contest-share-text {
    margin: 0 auto;
}

#theme-page .contest-cta-wrap-1 .contest-share-text h2 {
    color: #333;
    text-transform: none;
    font-size: 42px;
    margin-bottom: 25px;
}

#theme-page .contest-cta-wrap-1 .contest-share-text p {
    font-size: 20px;
}

@media screen and (min-width: 1000px) {
    #theme-page .contest-cta-wrap-1 .contest-share-text {
        max-width: 1000px;
    }
}

@media screen and (max-width: 999px) {
    #theme-page .contest-cta-wrap-1 .contest-share-text p {
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) {
    #theme-page .contest-cta-wrap-1 .mk-video-color-mask {
        background-color: #fff;
        opacity: .8;
    }
    #theme-page .contest-cta-wrap-1 .contest-share-text p {
        font-weight: 400;
    }
}


/* Social Warfare plugin overrides */

.swp_social_panel .sw {
    color: #6c914b;
}

span.swp_share {
    color: #6c914b;
}

div.swp_social_panel .nc_tweetContainer {
    max-width: 32px;
}

div.swp_social_panel .nc_tweetContainer {
    height: 32px;
}

.swp_social_panel span.iconFiller {
    font-size: 18px;
    margin: 0 auto;
    position: relative;
    right: -1px;
}

.swp_social_panel a .swp_count.swp_hide {
    margin: 0;
}

.scale-full_width {
    transform-origin: center;
}

.swp_social_panel:not(.nc_floater).scale-140.scale-full_width {
    width: 140px !important;
    margin: 0 auto;
}


/*================= End #HomewithHearthwood Promo =================*/


/*================= Begin GLOBALS =================*/

a.pdf-download:before {
    content: "\f1c1" !important;
    font-family: "FontAwesome" !important;
    padding-right: 5px !important;
}


/* hiding image popup captions */

.fancybox-title.fancybox-title-float-wrap {
    display: none;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    font-size: 14px;
    text-transform: none;
    color: #444;
    line-height: 24px;
}


/*div#mk-breadcrumbs {
    float: left;
}*/

p,
li {
    letter-spacing: .0125em;
    font-size: 16px;
    line-height: 2.2em;
}

#theme-page h2 {
    margin-bottom: 20px;
}

span.mk-button--text {
    vertical-align: middle;
}

.woocommerce-carousel-wrapper {
    padding: 0 70px;
}

.mk-portfolio-item.fadebox-hover .add-gradient {
    background: #000 !important;
}

.mk-portfolio-item .hover-overlay {
    position: static !important;
}

.mk-portfolio-item.fadebox-hover .featured-image:after {
    background: rgba(0, 0, 0, .65);
}

.hearthwood-home-page .mk-portfolio-item.fadebox-hover .featured-image .icons-holder a {
    opacity: 1;
}

.hearthwood-home-page .mk-portfolio-item.fadebox-hover .featured-image:hover .portfolio-meta,
.hearthwood-home-page .mk-portfolio-item.fadebox-hover .portfolio-meta {
    bottom: 100px;
}

.hearthwood-home-page .mk-portfolio-item.fadebox-hover .featured-image .icons-holder {
    top: 50%;
}

.hearthwood-home-page .mk-portfolio-item .the-title {
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: .15px;
    text-transform: none;
}

.hearthwood-home-page .mk-portfolio-item .the-title h3 a em {
    padding-left: 5px;
    /*font-weight: 300;*/
}


/*================= End GLOBALS =================*/


/*================= Begin HEADER / NAVIGATION =================*/

.header-logo.fit-logo-img.add-header-height.logo-has-sticky img {
    max-width: 300px;
}


/* mobile cart icon */

.add-cart-responsive-state .mk-header-cart-count {
    background: #678e46;
}

.mk-responsive-nav li a {
    padding: 17px 20px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .0125em;
    line-height: 1.2;
}

.mk-responsive-nav li ul li a {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 13px 15px 13px 15px;
}

.mk-responsive-nav .parent-blank .mk-nav-arrow {
    padding-left: 100%;
}


/*================= End HEADER / NAVIGATION =================*/


/*================= Begin HOME PAGE =================*/

@media screen and (min-width: 1025px) {
    .show-at-1024 {
        display: none;
    }
    .hide-at-1025 {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .show-at-1024 {
        display: block;
    }
    .hide-at-1025 {
        display: none;
    }
}

#theme-page .homepage-tagline {
    margin-bottom: 0px;
}

#theme-page .homepage-tagline h2 {
    font-weight: 300;
    text-transform: none;
    font-size: 42px;
}

#theme-page .portfolio-collection-wrap .mk-button--dimension-outline.mk-button--size-small {
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 800;
}


/* #theme-page .share-cta-wrap-1 {
    background: url('https://www.hearthwoodfloors.com/wp-content/uploads/2017/09/hearthwood-floors-brochure-cta-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  } */


/* #theme-page .share-cta-wrap-1 .social-share-text h2 {
  color: #fff;
}
#theme-page .share-cta-wrap-1 .social-share-text {
  height: 100%;
  display: flex;
  align-items: center;
}
#theme-page .share-cta-wrap-1 .social-share-text p {
  color: #fff;
  font-size: 18px;
  max-width: 1140px;
  margin: 0 auto 20px;
}
#theme-page .share-cta-wrap-1 .vc_custom_1506441808984 {
  height: 100% !important;
}
.share-cta-wrap-1 .page-section-content {
  display: flex;
  height: 100%;
} */

#theme-page .brochure-cta-wrap-1 {
    background: url('https://www.hearthwoodfloors.com/wp-content/uploads/2017/09/hearthwood-floors-brochure-cta-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#theme-page .brochure-cta-wrap-2 {
    background: url('https://www.hearthwoodfloors.com/wp-content/uploads/2017/09/hearthwood-floors-brochure-cta-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.our-family-section {}

#theme-page .our-family-section-intro h2 {
    color: #c1bfc0;
    font-weight: 400;
    text-transform: none;
    font-size: 65px;
    margin-bottom: 20px;
}

#theme-page .our-family-section-intro p {
    color: #fff;
    font-size: 26px;
    width: 75%;
    margin: 0 auto 60px;
    line-height: 2em;
}

.home .mk-portfolio-item.four-column {
    width: 25%;
}

.our-family-block>img {
    padding-bottom: 20px;
}

.our-family-block-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.our-family-block-wrapper .our-family-block:nth-of-type(1)>img {
    max-width: 40.5px;
}

.our-family-block-wrapper .our-family-block:nth-of-type(2)>img,
.our-family-block-wrapper .our-family-block:nth-of-type(4)>img {
    max-width: 42px;
}

.our-family-block-wrapper .our-family-block:nth-of-type(3)>img {
    max-width: 61px;
}

.our-family-block {
    border-radius: 10px;
    background-color: #3c3233;
    padding: 22px 10px;
    text-align: center;
    width: 25%;
    margin: 15px;
}

#theme-page .our-family-block h3 {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}

.our-family-block p {
    display: block;
    color: #fff;
    font-weight: 400;
    line-height: 1.6em !important;
    margin-bottom: 0px;
}

.our-family-section .page-section-content {
    padding: 140px 0 66px;
}

.our-family-section-cta p {
    color: #fff;
    font-size: 31px;
    width: 75%;
    margin: 0 auto 32px;
}

.our-family-section-cta-row .mk-button--dimension-outline.mk-button--size-small {
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 900;
}

.our-family-section-cta-wrapper .background-layer {
    background-size: cover !important;
}

.our-family-section-cta-row {
    padding: 80px 0 80px;
}

.our-family-section-cta {}

.mother-nature-wrapper {}

#theme-page .mother-nature-intro h2 {
    font-weight: 300;
    text-transform: none;
    font-size: 42px;
    margin-bottom: 80px;
}

#theme-page .mother-nature-3-col h3 {
    color: #020202;
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
}

.mother-nature-3-col p {
    font-size: 16px;
    color: #9e9e9e;
    font-weight: 600;
}

.mother-nature-3-col {
    margin: 0 auto 45px;
    padding: 0 100px;
}

.mother-nature-wrapper .mk-button--size-small {
    padding: 14px 36px;
    font-size: 12px;
    letter-spacing: .051em;
}


/*================= End HOME PAGE =================*/


/*================= Begin PRODUCTS PAGE =================*/

.hearthwood-products-page #theme-page .full-width-2 .page-section-content {
    padding: 33vw 0 0px !important;
}

.product-page-banner-text {
    max-width: 620px;
    margin: 0 auto;
    line-height: 1.5em;
}

.all-products-h2 h2 {
    font-size: 18px;
    color: #404040;
    font-weight: 700;
    text-transform: uppercase;
}

.woocommerce .product-category h4 {
    margin-top: 10px;
}

.single-product .entry-summary .price {
    display: none !important;
}


/*.mk-product-loop.open-layout .mk-product-holder .mk-love-holder, a.mk-love-this {
    display: none;
}*/

.mk-product-loop.compact-layout .product-title a {
    color: #010101;
}

.mk-product-loop.compact-layout h3.product-title {
    letter-spacing: 0;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: 600;
    color: #010101;
    opacity: 1;
    display: inline-block;
    padding-right: 0;
    text-transform: none;
}

.mk-product-loop.compact-layout .product-title:after {
    content: "|";
    font-weight: 600;
    padding-left: 4px;
    padding-right: 4px;
}


/*.mk-product-loop.compact-layout .product-title:after {
    content: "|";
    font-weight: 600;
    padding-left: 0px;
    padding-right: 0;
}*/


/* Products "Add to Cart" hover - making click event go to product page */

.mk-product-loop.compact-layout .product-item-footer {
    pointer-events: none;
}


/* Hiding first two lines on all Single Product Pages */

.woocommerce-product-details__short-description p:nth-child(-n+2) {
    display: none;
}


/** Portflio Hover over **/

.mk-portfolio-classic-item .featured-image:hover .from-left,
.mk-portfolio-classic-item .from-left {
    /*left: 44.5%;
        left: 41vw;*/
    left: 0px;
    padding-top: 7vw;
    margin-left: 0px !important;
    right: auto;
    left: 0px;
    top: 0px;
    margin-top: 0px !important;
}

a.hover-icon.from-left.project-load {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.hearthwood-products-page a.hover-icon.from-left.project-load:after {
    content: "Free Samples";
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #fff;
    font-weight: 800;
    position: relative;
    top: -9px;
    padding-left: 13px;
}

.mk-product-loop.compact-layout .product-item-desc {
    padding: 0;
    display: inline;
}

.mk-product-loop.compact-layout .product-item-desc p:first-of-type {
    display: inline-block;
}

.mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) {
    font-weight: 600;
    text-align: center !important;
    margin-bottom: 0;
}

.mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3) {
    display: none;
}

.mk-product-loop.compact-layout .product-item-desc p {
    font-size: 14px;
}

.hearthwood-custom .mk-page-section .swiper-slide img,
.hearthwood-custom .vc_row-fluid .swiper-slide img {
    max-width: 80%;
}

.portfolio-collection-wrap .vc_column-inner {
    padding-bottom: 0px !important;
}

.hearthwood-custom .swiper-navigation.mk-swipe-slideshow-nav-59887c770ee18 {
    top: 40%;
    position: relative;
}

.hearthwood-custom .mk-woocommerce-carousel.modern-style .swiper-arrows {
    opacity: 0.35 !important;
}


/*.hearthwood-custom .full-width-2 .page-section-content {
    padding: 33vw 0 0;
}*/

.hearthwood-custom .mk-woocommerce-carousel.modern-style .mk-lightbox {
    margin-bottom: 15px;
}

.hearthwood-custom .mk-swipe-slideshow h3.the-title {
    margin-bottom: 30px;
}

.hearthwood-custom .mk-swipe-slideshow h3.the-title a {
    color: #272727 !important;
    font-weight: 600 !important;
    font-size: 18px;
    letter-spacing: -.01em;
}

.hearthwood-custom #theme-page h1 {
    /*font-size: 25px;
    margin-bottom: 40px;
    margin-top: 20px;*/
}

.hearthwood-custom span.price {
    display: none;
}

.best-sellers-intro p em {
    font-size: 17px;
    color: #000;
    opacity: 0.35;
    font-weight: 600;
    text-transform: uppercase;
}

.mk-text-block.product-categories-row-1 {
    max-width: 1050px;
    margin: 0 auto;
}

.mk-text-block.product-categories-row-2 {
    max-width: 700px;
    margin: 0 auto;
}

.product-categories-row-1 .mk-product-loop.compact-layout .item,
.product-categories-row-2 .mk-product-loop.compact-layout .item {
    padding: 0 0px 0px;
}

.product-categories-row-2 {}

article.product-category.product.item.mk--col.mk--col--3-12.product-category--loaded h4,
article.product-category.product.item.mk--col.mk--col--4-12.product-category--loaded h4,
article.product-category.product.item.mk--col.mk--col--1-2.product-category--loaded h4 {
    text-align: center;
    font-style: italic;
    font-weight: 300 !important;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px !important;
    font-family: 'Open Sans';
}

article.product-category.product.item.mk--col.mk--col--3-12.product-category--loaded a:nth-of-type(2),
article.product-category.product.item.mk--col.mk--col--4-12.product-category--loaded a:nth-of-type(2),
article.product-category.product.item.mk--col.mk--col--1-2.product-category--loaded a:nth-of-type(2) {
    display: flex;
    flex-direction: column-reverse;
}

article.product-category.product.item.mk--col.mk--col--3-12.product-category--loaded a:nth-of-type(2) span.count,
article.product-category.product.item.mk--col.mk--col--4-12.product-category--loaded a:nth-of-type(2) span.count,
article.product-category.product.item.mk--col.mk--col--1-2.product-category--loaded a:nth-of-type(2) span.count {
    display: none;
}

.hearthwood-custom .woocommerce .product-category .item-holder {
    border: 0;
    background-color: #fff;
}

article.mk-portfolio-item.mk-portfolio-classic-item.one-column.mk-portfolio-item--loaded .item-holder {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    border: 0;
}

.hearthwood-custom .portfolio-meta-wrapper {
    padding: 50px 20px 20px;
}

.hearthwood-custom .mk-portfolio-classic-item .item-holder {
    margin: 0;
}

.hearthwood-custom .portfolio-meta-wrapper .the-title a {
    letter-spacing: 0;
    color: #638d3d;
    font-size: 18px;
    font-weight: 700;
}

.hearthwood-custom .portfolio-meta-wrapper {
    width: 1340px;
    max-width: 1340px;
    margin: 0 auto;
    padding-bottom: 0;
}

.hearthwood-custom .portfolio-meta-wrapper h3 {
    margin-bottom: 0;
}

.products-by-collection p em {
    color: #555;
}

.page-id-5-portfolio-intro-text {
    font-weight: 300;
    font-size: 20px;
}

.hearthwood-custom .mk-woocommerce-carousel.modern-style .price {
    display: none;
}

.hearthwood-custom article.product-category.product.item.mk--col.mk--col--3-12.product-category--loaded h4 {
    margin-top: 15px;
    color: #555;
}


/* hiding price from pen kit in related products */

.related.products span.price,
.upsells.products span.price {
    display: none;
}

.upsells.products {
    padding-top: 20px;
}


/*================= End PRODUCTS PAGE =================*/


/*================= Begin PRODUCT CATEGORY PAGE =================*/


/* hiding pen product categories b/c of visual line breaks  */

.tax-product_cat .product_cat-touch-up-pens .mk-shop-item-detail .product-title {
    margin-bottom: 20px;
}

.tax-product_cat .product_cat-touch-up-pens .mk-shop-item-detail .product-title::after {
    content: "";
}

.tax-product_cat .product_cat-touch-up-pens .mk-shop-item-detail .product-item-desc p:first-of-type {
    display: block;
    text-align: center;
    margin-bottom: 6px;
}

.tax-product_cat .product_cat-touch-up-pens .mk-shop-item-detail .product-item-desc p:last-of-type {
    display: none;
}

.tax-product_cat .product_cat-touch-up-pens .price {
    /* padding-top: 0px;
    font-weight: 700;
    font-size: 18px;
    color: #252525;
    padding-bottom: 22px; */
    display: none;
}


/*================= End PRODUCT CATEGORY PAGE =================*/


/*================= Begin SINGLE PRODUCTS PAGE =================*/

.woocommerce-Tabs-panel a strong {
    color: #678e46 !important;
    border-bottom: 1px dotted;
}

.woocommerce-product-details__custom-description img {
    width: 200px;
    display: inline-block;
    margin-bottom: 5px;
}


/* hiding caption from lightbox image */

.single-product .pswp__caption {
    display: none;
}

.single-product .variations tbody tr td.value #pa_number-of-free-samples+a.reset_variations {
    position: absolute !important;
}

.woocommerce-Tabs-panel a:hover {
    color: #678e46;
}

ul.ul-em-dash {
    list-style-type: none;
}

ul.ul-em-dash li:before {
    content: "— ";
    font-weight: 600;
}

h2.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-installation-maintenance {
    display: none;
}

h2.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-cleaning-warranty {
    display: none !important;
}

#mk-breadcrumbs .mk-breadcrumbs-inner {
    float: none;
    margin: 0 0px 0px 0 !important;
    display: block;
    /*text-align: center;*/
}

div#mk-breadcrumbs {
    display: inline-block;
    position: relative;
    top: 0px;
}

#mk-page-introduce .mk-grid {
    /*border-bottom: 2px solid rgba(216, 216, 216, 0.56);
    padding-bottom: 22px;*/
}

.page-title {
    margin: 25px 20px 5px;
    color: #484848;
    /*text-align: center;*/
    display: inline-block;
}

#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a {
    color: #6c9348;
}

#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a:hover {
    color: #6c9348;
}

#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin {
    color: #c0d2b2;
}

#mk-page-introduce {
    /*background: rgb(255, 255, 255);
    background-color: rgb(251, 251, 251);*/
    /*background-color: rgb(247, 247, 247);*/
}

.woocommerce div.product .woocommerce-tabs {
    padding-top: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    max-height: 50px;
}

.single-product #theme-page .theme-page-wrapper .theme-content {
    padding: 50px 20px;
}

.mk-header {
    border-bottom: 0px;
}

.woocommerce-Tabs-panel {
    /*border-right: 2px solid #eee;
    border-left: 2px solid #eee;*/
    border-bottom: 2px solid #eee;
}


/*.wc-tab.panel {
    padding: 20px 25px 0px;
}*/

.wc-tab h2 {
    font-size: 32px!important;
}

.woocommerce-product-details__short-description p {
    line-height: 1.95em;
    letter-spacing: 0.015em;
}

.product_meta span.posted_in {
    font-weight: 5200;
    font-size: 14px;
}

.social-share svg {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

.product_meta span.posted_in a {
    /* font-weight: 600; */
    font-size: 14px;
    color: #678e46;
    /*color: #6b9247;*/
}

.woocommerce #mk-sidebar .widget a,
.woocommerce #mk-sidebar .widget span.count {
    color: #4c4c4c;
}

.single-product .summary.entry-summary .mk-love-holder {
    float: right;
    top: 30px;
    position: relative;
}

.single-product .mk-love-this span {
    color: #353535;
    font-size: 14px;
}

.single-product .entry-summary .price {
    display: block;
}

div.product_cat-free-samples .entry-summary .price {
    display: none;
}

.single-product .product h1.product_title.entry-title {
    float: left;
}

.single-product .woocommerce-Tabs-panel.woocommerce-Tabs-panel--cleaning-warranty.panel.entry-content.wc-tab {
    font-size: 16px;
}

.woocommerce .products.related {
    margin-top: 80px;
}

#theme-page .related.products h2 {
    font-size: 16px !important;
    color: #404040;
    font-weight: 700;
    text-transform: uppercase;
}

.single-product .entry-summary .entry-title,
.single-product .entry-summary .title {
    font-size: 55px!important;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: none;
}

.wc-tabs li a {
    font-size: 18px;
    text-transform: none;
    letter-spacing: 0.025em;
}

.woocommerce .button.single_add_to_cart_button {
    background-position: 14px 11px;
    background-size: 16px;
    padding: 14px 20px 14px 20px!important;
}


/*.woocommerce-product-details__short-description {
    margin-bottom: 20px !important;
}*/

.woocommerce-product-details__custom-description {
    padding-bottom: 30px;
}


/* adding Disclaimer above Sample Products */

.single-product .product_cat-free-samples .woocommerce-product-details__custom-description p:last-of-type {
    padding-top: 6px;
    margin-bottom: -20px;
    padding-bottom: 5px;
    z-index: 999999;
    font-size: 16px;
    /* font-style: italic; */
    font-weight: 400;
}


/*================= END SINGLE PRODUCTS PAGE =================*/


/*================= BEGIN SHOP (WOOCOMMERCE) PAGE =================*/

body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page #theme-page .theme-page-wrapper.left-layout .sidebar-wrapper {
    padding: 40px 20px 30px;
}

#mk-sidebar .widgettitle {
    text-transform: none;
    font-size: 14px;
    color: #848484;
    font-weight: 600;
    padding: 0px 10px;
}

section.widget.woocommerce {
    margin-bottom: 20px;
    padding: 10px 20px;
}

section.widget.woocommerce .widgettitle {
    text-transform: none;
    font-size: 14px;
    color: #333333;
    font-weight: bolder;
    border-bottom: 2px solid #f1f1f1;
}

.widget_layered_nav ul li.chosen a {
    border: 0px;
    background: transparent;
}

.widget_layered_nav_filters ul li a {
    border: 1px solid #6b9247;
    background: #6b9247;
    color: #fff !important;
}

.woocommerce-result-count {
    float: none;
    text-align: center;
}

#theme-page .wc-layered-nav-term a {
    padding-right: 6px;
}


/*================= END SHOP (WOOCOMMERCE) PAGE =================*/


/*================= Begin ENVIRONMENTAL RESPONSIBILITY PAGE =================*/

#theme-page .env-responsibility-banner h1,
#theme-page .env-responsibility-banner h2 {
    color: #fff;
}

#theme-page .env-responsibility-banner h1 {
    text-transform: none;
    font-weight: 400;
    font-size: 48px;
    margin: 0 auto 0px;
    line-height: 1.15em;
}

#theme-page .env-responsibility-banner h2 {
    color: #fff;
    font-size: 28px;
    margin: 0 auto 0px;
    line-height: 2em;
    text-transform: none;
    font-weight: 300;
}

#theme-page .env-responsibility-page-intro p {
    max-width: 1030px;
    margin: 0 auto 30px;
    font-size: 20px;
    line-height: 2.25em;
    font-weight: 300;
}

#theme-page .env-responsibility-page-intro h2 {
    margin-bottom: 25px;
    font-size: 34px;
    color: #404040;
    font-weight: 400;
}

#theme-page .env-responsibility-page-crafted h2,
#theme-page .env-responsibility-page-crafted p {
    color: #fff;
}

#theme-page .env-responsibility-page-crafted h2 {
    font-weight: 600;
    font-size: 34px;
}

#theme-page .env-responsibility-page-crafted p {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: .05em;
    font-weight: 400;
}

#theme-page .env-responsibility-crafted-columns {
    overflow: visible;
}

.env-responsibility-crafted-columns .vc_col-sm-4 {
    padding: 10px 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.env-responsibility-crafted-columns .vc_col-sm-4:first-of-type {
    border-left: 0px;
}

#theme-page .env-responsibility-crafted-columns p {
    font-size: 18px;
    letter-spacing: 0.025em;
    font-weight: 300;
    line-height: 1.9em;
    font-size: 16px;
    letter-spacing: 0.035em;
    font-weight: 400;
    line-height: 2.31em;
}

.env-responsibility-crafted-row {
    display: flex;
}

#theme-page .env-responsibility-crafted-columns h4 {
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
}

.mk-box-icon.boxed-style .icon-box-boxed {
    position: relative;
    background-color: transparent;
    text-align: center;
    border-radius: 3px;
    border: 0px;
    border-bottom: 0px;
}

#theme-page .mk-box-icon.boxed-style h4,
.mk-box-icon.boxed-style p {
    color: #fff;
    text-transform: none;
}

.mk-box-icon.boxed-style .icon-box-boxed.top {
    margin-top: -8px;
}

#theme-page .env-responsibility-certs h2 {
    font-weight: 300;
    text-transform: none;
    font-size: 42px;
    margin-bottom: 20px !important;
}

.env-responsibility-certs .mk-text-block p {
    font-size: 18px;
    line-height: 2.4em;
}

#theme-page .responsibility-our-promise .mk-button--dimension-outline.mk-button--size-small,
#theme-page .responsibility-2-sections .mk-button--dimension-outline.mk-button--size-small {
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 900;
}


/*================= End ENVIRONMENTAL RESPONSIBILITY PAGE =================*/


/*================= Begin SOCIAL RESPONSIBILITY PAGE =================*/

.soc-responsibility-prison-breakdown {
    max-width: 750px;
}

.soc-responsibility-page-nashville {
    max-width: 1230px;
}

.soc-responsibility-page-nashville img {
    width: 30%;
    margin-bottom: 0px;
}

.soc-responsibility-page-nashville p {
    font-size: 18px;
    line-height: 2.5em;
    font-weight: 300;
    padding: 30px 40px;
    letter-spacing: 0.0135em;
    color: #000000;
    margin-bottom: 0px;
}

img.soc-responsibility-prison-breakdown.alignright.wp-image-931.size-full {
    max-width: 700px;
}

.inmate-wage-wrapper img {
    padding-top: 40px;
}

.soc-responsibility-page-nashville .vc_col-sm-8:last-of-type {
    border-right: 1px solid #9e9e9e;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.soc-responsibility-prison-intro h2 {
    font-weight: 300;
    text-transform: none;
    font-size: 42px;
}

.soc-responsibility-prison-intro p {
    font-size: 18px;
    line-height: 2.5em;
    font-weight: 300;
    letter-spacing: 0.0135em;
    /*color: #333333;*/
    color: #000000;
    /*margin-bottom: 0px;*/
}

.soc-responsibility-rise {
    padding: 90px 0 80px;
}

#theme-page .soc-responsibility-rise h2 {
    font-weight: 300;
    text-transform: none;
    font-size: 42px;
    margin-bottom: 20px !important;
}

#theme-page .soc-responsibility-rise p {
    font-size: 18px;
    line-height: 2.4em;
}

#theme-page .soc-responsibility-page-intro p {
    /*max-width: 1030px;*/
    margin: 0 auto 30px;
    font-size: 20px;
    line-height: 2.25em;
    font-weight: 300;
}

#theme-page .soc-responsibility-page-intro h2 {
    margin-bottom: 25px;
    font-size: 34px;
    color: #404040;
    font-weight: 400;
}

.soc-responsibility-page-intro-blurb p {
    text-align: center;
    font-size: 29px;
    margin: 30px auto 0px;
    max-width: 90%;
}


/*================= End SOCIAL RESPONSIBILITY PAGE =================*/


/*================= Begin OUR ROOTS PAGE =================*/

#theme-page .our-roots-american-manufacturing .mk-button--dimension-outline.mk-button--size-small {
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 900;
}

#theme-page .our-roots-american-manufacturing h2 {
    font-weight: 400;
}

.our-roots-american-manufacturing p:first-of-type {
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto 20px;
}


/*================= End OUR ROOTS PAGE =================*/


/*================= Begin SINGLE BLOG POSTS =================*/

.mk-blog-hero .mk-author-avatar,
.mk-blog-hero .mk-author-name {
    display: none;
}

@media screen and (min-width: 1024px) {
    .postid-1539 .mk-blog-hero.bold-style {
        background-position-y: -160px !important;
    }
}

.mk-blog-hero.bold-style {
    background-position: center center;
}

.mk-blog-hero.bold-style:before {
    opacity: .125;
}

.mk-blog-hero.bold-style .the-title {
    max-width: 1020px;
}

article h2 {
    font-size: 34px;
}

article img.alignright {
    margin-top: 1em;
}

.mk-blog-author.blog-meta-item {
    display: none !important;
}


/*================= End SINGLE BLOG POSTS =================*/

.single-post div#theme-page-bg {
    background-color: #fdfdfd;
}

.single-post .mk-love-holder {
    display: none;
}

.single-post .mk-blog-author {
    display: none;
}


/*================= Begin FOOTER =================*/

#mk-footer .footer-wrapper {
    padding: 30px 0 10px;
}

#mk-footer .widget {
    margin-bottom: 0px;
}

.footer-social-icons {
    padding-top: 17px;
}

#mk-footer {
    overflow: hidden;
}

#mk-footer section#black-studio-tinymce-2,
#mk-footer section#text-2,
#mk-footer section#custom_html-3 {
    margin-bottom: 0px;
}

section#black-studio-tinymce-2 {
    max-width: 330px;
    margin: 0 auto;
}

#mk-footer .widgettitle {
    text-transform: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0;
}

#mk-footer .footer-cf7-form-wrapper {
    text-align: right;
    margin-bottom: 10px;
}

#mk-footer .mk-col-1-3 {
    /* max-width: 80%; */
    padding: 0 40px;
}

#mk-footer i {
    /*background-color: #638d3d;
    border-radius   : 50%;
    padding         : 10px;*/
}

#mk-footer .footer-phone,
#mk-footer .footer-social-icons {
    text-align: center;
}

#mk-footer .footer-phone a {
    color: #638d3d !important;
    font-size: 27.7px;
    font-weight: 300;
}

.footer-phone a:before {
    color: #808282;
    content: "\f095";
    font-family: 'FontAwesome';
    padding-right: 5.5px;
}

#mk-footer span.fa-stack.fa-lg {
    color: #638d3d;
}

#mk-footer span.fa-stack.fa-lg:hover {
    color: #638d3d;
}

.sub-footer-social {
    text-align: center;
    padding: 10px 0 20px;
}

.sub-footer-social a {
    padding: 0 2px;
}


/** Begin CONTACT FORM 7 - (OLD - See new HubSpot form below) ***/

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #282c2b !important;
    opacity: 1;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #282c2b !important;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #282c2b !important;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #282c2b !important;
    opacity: 1;
}

#mk-footer input[type=email],
#mk-footer input[type=text],
#mk-footer textarea {
    font-size: 20px;
    color: #282c2b;
    font-family: 'Open Sans';
    width: 100%;
}

#mk-footer textarea {
    max-height: 110px;
}

#mk-footer input.wpcf7-form-control.wpcf7-submit {
    /*float: right;*/
    float: none;
    right: -45px;
    margin-right: 0px;
    padding: 13px 50px;
    z-index: 9999;
}

#mk-footer input.wpcf7-form-control.wpcf7-submit {
    letter-spacing: 0;
    border: 0;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 31px;
    background-color: transparent;
}

#mk-footer input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: transparent;
}

#mk-footer .wpcf7-form br {
    display: none;
}

#mk-footer .wpcf7-form span.fa-stack.fa-lg {
    float: none;
    top: 3px;
}

#mk-footer .footer-cf7-form-wrapper .fa-lg {
    font-size: 1.033333em;
}

#mk-footer .wpcf7-form p:last-of-type {
    text-align: right;
}

#mk-footer div.wpcf7-mail-sent-ok {
    color: #348f00;
}

#mk-footer .fa-chevron-right:before {
    content: "\f054";
    font-size: 13px;
    top: -2px;
    position: relative;
    left: 1px;
}

#custom_html-2 .fa-stack-2x {
    font-size: 1.6em;
    top: 4px;
}


/** End CONTACT FORM 7 - (OLD - See new HubSpot form below) ***/


/*** Begin HUBSPOT CONTACT FORM ***/

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #282c2b !important;
    opacity: 1;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #282c2b !important;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #282c2b !important;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #282c2b !important;
    opacity: 1;
}

.hbspt-form input[type=email],
.hbspt-form input[type=text],
.hbspt-form textarea {
    font-size: 20px;
    color: #282c2b;
    font-family: 'Open Sans';
    width: 100%;
    box-sizing: border-box;
}

.hbspt-form textarea {
    max-height: 110px;
}

span.hs-form-required {
    display: none;
}

.hbspt-form input[type=email],
.hbspt-form input[type=text],
.hbspt-form textarea {
    margin-bottom: 14px;
}

.hs_submit.hs-submit {
    text-align: right;
}

input.hs-button.primary.large {
    color: black;
    background-color: #fff0;
    border: 0;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 31px;
}

.hbspt-form input.hs-button.primary.large {
    background-image: url(https://cdn2.hubspot.net/hubfs/4364507/Hearthwood_Floors_March2018/images/footer_arrow.png?t=1522480609548);
    background-position: top 7px right 7px;
    background-repeat: no-repeat;
}

.hs-button.primary,
.hbspt-form input[type="submit"],
.hbspt-form input[type="button"] {
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none !important;
    letter-spacing: 0;
    border: 0;
    color: #7e7e7e;
    font-size: 31px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4364507/Hearthwood_Floors_March2018/images/button-arrow.png?t=1522480609548);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center right 7px;
    background-size: 35px;
    padding: 7px 50px 13px 30px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
    line-height: 100%;
    font-weight: 300;
    font-family: Open Sans;
}


/** End HUBSPOT CONTACT FORM ***/

#black-studio-tinymce-3 p strong {
    text-transform: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0;
}


/*** Begin SUB FOOTER / COPYRIGHT AREA ***/

span.mk-footer-copyright {
    width: 100%;
}

.back-to-top {
    text-align: center;
    margin-bottom: 20px;
}

.back-to-top a {
    color: #a1a1a1;
    border-bottom: 1px solid;
    font-size: 15px;
}

.copyright-link {
    font-size: 12px;
    text-align: center;
}

.copyright-link p {
    font-size: 10px;
}


/** End SUB FOOTER / COPYRIGHT AREA ***/


/*================= Begin MEDIA QUERIES =================*/

@media screen and (max-width: 1400px) {
    .mk-product-loop.compact-layout .mk--col--3-12 {
        width: 33.333%;
    }
}

@media screen and (max-width: 1340px) {
    .portfolio-collection-wrap-2 .mk-padding-wrapper {
        padding: 0px;
    }
    .portfolio-collection-wrap .mk-padding-wrapper {
        padding: 0px;
    }
    .portfolio-collection-wrap .wpb_row:first-of-type {
        /* padding: 0px 20px; */
    }
    .hearthwood-custom .portfolio-meta-wrapper {
        padding: 50px 35px 0px 35px;
    }
}

@media screen and (max-width: 1280px) {
    #theme-page .soc-responsibility-rise h2 {
        font-size: 38px;
    }
    #theme-page .soc-responsibility-rise p {
        font-size: 16px;
    }
    #mk-footer .mk-col-1-3:nth-of-type(2) p {
        font-size: 15px;
    }
    #mk-footer .mk-col-1-3:nth-of-type(1) img {
        max-width: 90% !important;
    }
    #mk-footer input[type=email],
    #mk-footer input[type=text],
    #mk-footer textarea {
        font-size: 16px;
    }
}

@media handheld,
only screen and (max-width: 1140px) {
    .mk-footer-copyright {
        padding-left: 0px!important;
    }
}

@media screen and (max-width: 1140px) {
    .page-title {
        padding-left: 10px;
    }
}

@media screen and (min-width: 1081px) {
    .portfolio-collection-wrap {
        min-height: 250px;
    }
    .portfolio-collection-wrap-2 {
        padding: 0px 0 100px;
    }
    .mother-nature-wrapper {}
}

@media screen and (max-width: 1080px) {
    .mk-product-loop.compact-layout .product-title:after {
        content: "";
    }
    .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) {
        display: none;
    }
    .mk-product-loop.compact-layout .product-item-desc {
        display: block;
    }
    .tax-product_cat .product_cat-touch-up-pens .mk-shop-item-detail .product-item-desc p:first-of-type {
        text-align: left;
        margin-bottom: 2px;
    }
    .tax-product_cat .product_cat-touch-up-pens .mk-shop-item-detail .product-title {
        margin-bottom: 2px;
    }
    /*.mk-product-loop.compact-layout .product-item-desc p:first-of-type {
        display: none;
    }*/
    .mk-product-loop.compact-layout .product-item-desc p:first-of-type {
        margin-bottom: 0px;
    }
    .env-responsibility-crafted-columns .vc_col-sm-4 {
        padding: 10px 0px;
    }
    #theme-page .env-responsibility-crafted-columns p {
        font-size: 14px;
        line-height: 2.2em;
    }
    .soc-responsibility-rise {
        background-position-x: 18%;
    }
    /*.soc-responsibility-rise .vc_col-sm-6:first-of-type {
        width: 40%;
    }
    .soc-responsibility-rise .vc_col-sm-6:last-of-type {
        width: 60%;
    }*/
    #mk-footer .wpcf7-submit {
        font-size: 24px;
    }
    #mk-footer textarea {
        max-height: 85px;
    }
    #mk-footer .mk-col-1-3:nth-of-type(2) p {
        font-size: 14px;
    }
    #mk-footer .widgettitle {
        font-size: 18px;
    }
    /* BP */
    .mk-image.mk-image-36.align-center.simple-frame.inside-image {
        margin-bottom: 60px !important;
    }
    .wpb_row.vc_inner.vc_row.vc_row-fluid.mother-nature-3-col.attched-false {
        margin: 0 auto 25px;
    }
    #theme-page .soc-responsibility-rise h2 {
        font-size: 32px;
    }
    #theme-page .soc-responsibility-rise p {
        font-size: 16px;
    }
    .soc-responsibility-page-nashville p {
        font-size: 15px;
    }
    .mother-nature-3-col {
        padding: 0;
    }
    .our-family-section .page-section-content {
        /*padding: 100px 0 36px;*/
        padding: 80px 0 60px;
    }
    .our-family-section-cta-row {
        padding: 60px 0 60px;
    }
    .our-family-section-cta p {
        color: #fff;
        font-size: 24px;
        width: 75%;
        margin: 0 auto 32px;
        line-height: 1.75em;
    }
    #theme-page .our-family-section-intro p {
        color: #fff;
        font-size: 22px;
        width: 75%;
        margin: 0 auto 50px;
        line-height: 1.8em;
    }
    .our-family-block p {
        font-size: 14px;
    }
    .our-family-block-wrapper {
        width: 100%;
    }
    #theme-page .our-family-section-intro h2 {
        font-size: 55px;
    }
    .mk-text-block.product-categories-row-2 {
        max-width: 65%;
    }
    .mk-woocommerce-carousel.modern-style .mk-swiper-next {
        right: 20px;
    }
    .mk-woocommerce-carousel.modern-style .mk-swiper-prev {
        left: 20px;
    }
    .hearthwood-custom .mk-woocommerce-carousel.modern-style .swiper-arrows {
        opacity: 1 !important;
    }
    .mk-woocommerce-carousel.modern-style .swiper-arrows {
        top: calc(50% - 50px)!important;
    }
    #theme-page .homepage-tagline h2,
    #theme-page .mother-nature-intro h2 {
        font-size: 34px;
    }
    .portfolio-collection-wrap {
        min-height: 0px;
    }
    .portfolio-collection-wrap-2 {
        padding: 0px 0 70px;
    }
}

@media screen and (max-width: 1023px) {
    #mk-footer .mk-col-1-3 {
        margin-bottom: 50px;
    }
    .mk-page-section .mk-skip-to-next {
        display: none;
    }
    .our-family-block {
        width: 45%;
        margin: 2%;
    }
    .our-family-block-wrapper {
        flex-wrap: wrap;
    }
    #mk-footer .wpcf7-form p:last-of-type {
        text-align: center;
    }
    #mk-footer input.wpcf7-form-control.wpcf7-submit {
        right: 0;
    }
    #mk-footer .wpcf7-form span.fa-stack.fa-lg {
        left: -45px;
    }
    #mk-footer .mk-col-1-3:nth-of-type(1) img {
        max-width: 200px !important;
    }
    #mk-footer .mk-col-1-3 {
        width: 100%;
        text-align: center;
    }
    #mk-footer .mk-col-1-3>section {
        max-width: 500px;
        margin: 0 auto 50px;
    }
    #mk-footer .mk-col-1-3>section:last-of-type {
        margin-bottom: 0px;
    }
    #mk-footer section#custom_html-3 {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 980px) {
    .woocommerce-carousel-wrapper {
        padding: 0 0px;
    }
}

@media screen and (max-width: 800px) {
    .env-responsibility-crafted-row .vc_col-sm-4 {
        width: 100%;
    }
    .wpb_row.vc_inner.vc_row.vc_row-fluid.env-responsibility-crafted-row {
        display: flex;
        flex-direction: column;
    }
    .env-responsibility-crafted-row .mk-box-icon.boxed-style .icon-box-boxed.top {
        padding: 70px 20px 30px;
    }
    #theme-page .env-responsibility-crafted-columns p {
        font-size: 16px;
    }
    .env-responsibility-crafted-columns .vc_col-sm-4 {
        border-left: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

@media handheld,
only screen and (max-width: 780px) {
    .header-logo img {
        max-width: 250px!important;
    }
}

@media screen and (min-width: 769px) {
    .show-at-768 {
        display: none;
    }
    .hide-at-769 {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .show-at-768 {
        display: block;
    }
    .hide-at-769 {
        display: none;
    }
    #theme-page .env-responsibility-crafted-columns .vc_col-sm-4 {
        width: 100%;
        border-left: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .soc-responsibility-rise {
        padding: 80px 0 60px;
    }
    .soc-responsibility-rise .vc_col-sm-6 {
        width: 100%;
        padding: 0 25px;
    }
    .soc-responsibility-rise::after {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, .7);
    }
    .soc-responsibility-rise .vc_col-sm-12.wpb_column.column_container._.height-full {
        z-index: 99999;
    }
    .inmate-income .vc_col-sm-6 {
        width: 100%;
    }
    .soc-responsibility-page-nashville>.vc_col-sm-4 {
        display: none;
    }
    .soc-responsibility-page-nashville .vc_col-sm-8:last-of-type {
        width: 100%;
        border-left: 1px solid #c3c3c3;
    }
    .soc-responsibility-page-nashville .vc_col-sm-8:last-of-type p {
        text-align: center !important;
    }
    .soc-responsibility-page-nashville p {
        font-size: 16px;
    }
    .soc-responsibility-prison-intro p {
        line-height: 2.3em;
    }
    .home-portfolio-intro-text p {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 2;
    }
    /* B.P. */
    #padding-18 {
        height: 60px;
    }
    .hearthwood-products-page .mk-product-loop.compact-layout .products {
        padding: 10px 0 0px;
    }
    #theme-page .homepage-tagline h2,
    #theme-page .mother-nature-intro h2 {
        font-size: 26px;
        line-height: 1.56em;
    }
    #theme-page .our-family-section-intro h2 {
        font-size: 45px;
    }
    #theme-page .our-family-section-intro p {
        color: #fff;
        font-size: 18px;
        width: 90%;
        margin: 0 auto 40px;
        line-height: 1.8em;
    }
    /* B.P. */
    .full-width-34 .page-section-content {
        padding: 50px 0 130px !important;
    }
    #theme-page .mother-nature-intro h2 {
        margin-bottom: 60px;
    }
    .mother-nature-3-col p {
        font-size: 14px;
        line-height: 1.9em;
    }
}

@media handheld,
only screen and (max-width: 767px) {
    .product-categories-row-1 .mk-product-loop .mk--col--3-12,
    .product-categories-row-1 .mk-product-loop .mk--col--4-12 {
        width: 33.333%!important;
    }
}

@media screen and (max-width: 767px) {
    .env-responsibility-certs .wpb_single_image.wpb_content_element.vc_align_right,
    .env-responsibility-certs .wpb_single_image.wpb_content_element.vc_align_left {
        text-align: center !important;
    }
    .mk-text-block.product-categories-row-1 {
        /*max-width: 65%;*/
    }
}

@media handheld,
only screen and (max-width: 600px) {
    /*.product-categories-row-2 article.product-category.product.item.mk--col.mk--col--1-2.product-category--loaded {
        width: 300px !important;
    }*/
    .product-categories-row-1 .mk-product-loop .mk--col--3-12,
    .product-categories-row-1 .mk-product-loop .mk--col--4-12 {
        width: 100%!important;
    }
    .woocommerce .product-category h4 {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .mk-text-block.product-categories-row-1 {
        width: 200px;
    }
    .mk-text-block.product-categories-row-2 {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    dd.variation-NumberofFreeSamples p {
        font-size: 100% !important;
        top: 2px;
        position: relative;
    }
    .home #theme-page h1 {
        margin-bottom: 30px !important;
        font-size: 32px;
    }
    .our-roots-american-manufacturing .mk-padding-wrapper {
        padding: 0 10px;
    }
    .soc-responsibility-prison-intro p {
        font-size: 18px;
    }
    .soc-responsibility-page-intro-blurb p {
        text-align: center;
        font-size: 18px;
        margin: 30px auto 0px;
        max-width: 100%;
    }
    #theme-page h2 {
        font-size: 28px;
    }
    .our-roots-american-manufacturing p:first-of-type {
        font-size: 18px;
        max-width: 100%;
    }
    .soc-responsibility-page-nashville p {
        padding: 0px;
    }
    .soc-responsibility-page-nashville .vc_col-sm-8:last-of-type {
        border: 0px;
    }
    #theme-page .soc-responsibility-page-intro h2 {
        font-size: 26px;
    }
    #theme-page .soc-responsibility-rise h2 {
        font-size: 24px;
    }
    #theme-page .soc-responsibility-rise p {
        font-size: 14px;
        line-height: 2.2em;
    }
    #theme-page .env-responsibility-banner h1,
    #theme-page .soc-responsibility-banner h1 {
        font-size: 38px !important;
    }
    .portfolio-collection-wrap .wpb_row:first-of-type {
        padding: 0px 10px;
    }
    .hearthwood-custom .portfolio-meta-wrapper {
        padding: 50px 35px 0px 15px;
    }
    .header-logo img {
        max-width: 230px!important;
    }
    .products-by-collection h2 {
        font-size: 26px;
    }
    .portfolio-collection-wrap h3 {
        font-size: 20px;
    }
    .our-family-block {
        width: 300px;
        margin: 0 auto 15px;
    }
    .our-family-block-wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .header-logo img {
        max-width: 200px!important;
    }
}


/*================= End MEDIA QUERIES =================*/

.single-product .product_cat-touch-up-pens .entry-summary .price del {
    float: none;
}

.single-product .product_cat-touch-up-pens .entry-summary .woocommerce-product-details__custom-description img {
    display: none;
}

#overlay {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    float: left;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

#gform-notification {
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    max-height: 237px;
    align-items: center;
    flex-direction: column;
    max-width: 520px;
    padding: 61px;
    position: fixed;
    top: 50%;
    left: 55%;
    right: 0;
    text-align: center;
    transform: translate(-55%, 0%);
    width: 100%;
    z-index: 99999;
    border: 1px solid #000;
}

#gform-notification .button {
    margin: 20px 0 0;
    padding: 12px 24px;
}
@media(max-width:500px){
		.page-id-479 .owl-item > div.sa_hover_container{
		min-height: 200px !important;
	}
}

@media screen and (min-width: 1101px) {
	.mk-product-loop .product-loop-thumb{
        height: 270px;
        overflow: hidden
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
	.mk-product-loop .product-loop-thumb{
        height: 34vw
    }

	.mk-product-loop .product-loop-thumb .mk-product-loop .mk--col--3-12{
        width: 25% !important
    }
}

@media screen and (max-width: 767px) and (min-width: 701px) {
	.mk-product-loop .product-loop-thumb{
        height: 350px
    }
}

@media screen and (max-width: 700px) and (min-width: 601px) {
	.mk-product-loop .product-loop-thumb{
        height: 300px
    }
}

.mk-product-loop.compact-layout .mk-product-holder{
    border: 0
}

.mk-product-loop.compact-layout .product-title a{
    color: #fff
}

.mk-product-loop.compact-layout .mk-shop-item-detail{ 
    text-align: center;
    padding: 15px 5px
}

.mk-product-loop.compact-layout .product-item-desc{
    padding: 0;
    display: inline
}

.mk-product-loop.compact-layout .product-item-desc p{
    color: #fff
}

.mk-product-loop.compact-layout .product-item-desc p:first-of-type{
    display: inline-block;
    margin-bottom: 10px
}

.mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2){
    text-align: center !important;
    margin-bottom: 0
}

.mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) em{
    font-size: 15px
}

.mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3){
    display: none
}

.mk-product-loop.compact-layout .product-item-desc p{
    font-size: 15px
}

.mk-product-loop.compact-layout .product-item-desc p>strong{
    color: #fff
}

.mk-product-loop.compact-layout .product-title{
    font-size: 14px !important;
    line-height: 18px;
    padding-right: 0;
    margin-bottom: 5px;
    letter-spacing: 0;
    display: inline;
    border-right: 1px solid #fff;
    color: #fff;
    padding-right: 3px;
    margin-right: 6px;
    font-weight: 300;
    text-transform: none
}

.mk-product-loop.compact-layout .mk-shop-item-detail{
    background-color: #638d3d
}